@media only screen and (max-width: 1300px){
    .contentContainer{
        width: 450px;
        height: 500px;

        margin-left:20%;
    }
  }

  @media only screen and (max-width: 1300px){
    #leftScroll{
        position: static;
        margin-top:50px;
      }
      
      #rightScroll{
        position: static;
        margin-top:50px;
      }

    .featureContainer{
        position:relative;
        float:none;
        height:500px
    }

    .contentContainer{
        float:none;
        height: 400px;
    }

    .featureGrid{
        margin-top:5%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-gap: 5% 5%;
    }
    .featureTile{
        text-align:center;
    
        height: 150px;
        width: 150px;
        border:2px solid black;
    }
  }

@media only screen and (max-width: 950px) {
    .featureTile{
        text-align:center;
    
        height: 150px;
        width: 150px;
        border:2px solid black;
    }
  }

  @media only screen and (max-width: 600px){
    .header{
        display:none;
    }
    .contentContainer{
        float:none;
        width: 200px;
        height:300px;
    }
} 