#renderPage{
  max-width: 100%;
  height:auto;
}
.aboutContent{
  max-width: 100%;
  height:auto;
  padding-bottom: 10%;
}

.content{
  max-width: 100%;
  height:auto;
}

.contentContainer{
  float:left;
  width: 600px;
  height:800px;
  max-height: 500px;

  margin-left:5%;
  margin-right:auto;
  margin-top: 8%;
  padding:10px;

  border: 5px solid black;
}

.contentContainer img{
  max-width: 80%;
  height: auto;
  max-height: 500px;
}

.featureContainer{
  display: inline;
  float:right;
  max-width: 40%;
  height:300px;

  margin-left:auto;
  margin-right:5%;
  margin-top: 10%;
  margin-bottom:10%;
}

.featureGrid:after{
  clear:both;
  content:"" ;
  display:table;
}

::-webkit-scrollbar{/*HIDING THE SCROLL BAR*/
  width:0px;
  height:0px;
  background: transparent;
}

.featureGrid{
  margin-top:5%;
  overflow-x: scroll;
  white-space: nowrap;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5% 5%;

  height: 150%;
}

.featureTile{
  text-align:center;

  height: 200px;
  width: 200px;

  border:2px solid black;
}

.featureTile img{
  max-width:70%;
  height:70%;
  margin-top:5%;
}

#leftScroll{
  position: relative;
  top:225px;
  right:50px;
}

#rightScroll{
  position: relative;
  top:225px;
  left:50px
}

.header {  
  /* position fixed removes the element from the normal flow, placing it where you specify with top/bottom, left/right */
  position:fixed; 
  top:0px;
  z-index: 1;     /* To make sure titleNav is on top of content, give it a higher z-index than content 
                  (content would have default value of zero). */
  width: 100%;
  height: 8%; 
  /*box-shadow: 0px 0px 5px black;  /* give a little "3D"  effect to the bottom of the title area */
  min-width: 650px; /* stop nav bar from unwanted overlap with title */
  font-size: 3em;
  background-color: rgb(255, 125, 125);
  vertical-align: middle;
}

.injectContent{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar .icon{
  display: none;
}